body {
  background-image: url('https://dthezntil550i.cloudfront.net/cg/latest/cg1806131005366020005760829/22a03e58-8778-4756-a1b2-a18eb765d501.png');
  background-size: 100%;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
